// @import 'core/settings';

body {
border: 0;
}

.container-form {
  display: flex;
}

.card-list {
  list-style: none;
  display: flex;
}
.new_item {
  margin: 15px;
}

.new_div1 {
  width: 160px;
  height: 195px;
  background-image: url('https://via.placeholder.com/160x195/30d9c4/ffffff/?text=ADALAB');
  border: 2px solid grey;
  border-radius: 5px;
}

.new_div {
  width: 160px;
  height: 195px;
  margin-bottom: 10px;
  border: 2px solid grey;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.new_img {
  display: inline-block;
}
